.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: transparent;
  z-index: 1000;
}

.bar {
  height: 100%;
  background: #3b82f6;
  transition: width 0.1s linear;
}
